.lazy-load-component {
  position: relative; }
  .lazy-load-component-mask {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    color: #ffffff;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center; }

